<div style="border: 1px solid black; width: 700px; margin-left: 20px">
    <p style="color:orange; padding-left: 20px"> _PARAMS_DISPLAY SHARED PARTIAL: found in views/shared/_params_display.html.erb. <p>
    <p style= " padding-left: 20px"> <i>This can be shared by multiple views.</i></p>
    <p style= " padding-left: 20px"> <i>Current params are: <%=params.inspect%></i></p>
</div>