<h1>Secrets#index</h1>
<p>Find me in app/views/secrets/index.html.erb</p>

<% @secrets.each do |secret|%>
    <!-- Secret Content that everyone can see -->
    <%if current_user == secret.user %>
    <!-- Secret Content that only User who created/owns a Secret can see -->
    <!-- Create a "Delete My Secret" button next to any such Secret -->
    <% end %>
<% end %>